.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.carouselImages {
  display: flex;
  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;
  overflow-x: hidden; /* Hide scrollbar */
}

.carouselImage {
  width: 100%;
  height: 200px; /* Fixed height for carousel images */
  flex-shrink: 0;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer; /* Indicate clickable */
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselButton.prev {
  left: 10px;
}

.carouselButton.next {
  right: 10px;
}

.carouselButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fullScreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullScreenImage {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
}